<!DOCTYPE html>
<html ng-app='myApp'>
<head>
    <title></title>
    
    <style>
    .rojo{
       color: red; 
    }
    </style>
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.10/angular.min.js"></script>
	<!--Controllers-->
	<script type="text/javascript" src="controllers/testController.js"></script>
	<!--Services-->
	<script type="text/javascript" src="services/testService.js"></script>
</head>
<body ng-app='myApp' ng-controller="testController">

    <!-- botones -->
	<input type="submit" value="Todos los posts" ng-click="getAllPosts()"/>
	<input type="submit" value="Un post" ng-click="getPost()"/>
    <input type="text" ng-model="post_id" placeholder="inserte el id del post"/>
    <!-- contenido Primer Boton-->
	<div ng-if="Pexist==1">
		<h1>Lista de Posts</h1>
		<div ng-repeat="p in postse">
			<pre>
				<h5> Post #  {{$index + 1}}</h5>
				<h2 class="rojo">{{p.fields.titulo.stringValue}}</h2>
				<p>{{p.fields.contenido.stringValue}}</p>
			</pre>
			<hr/>
		</div>
    </div>
    <!-- fin contenido primer, inicio segundo-->
	<div ng-if="Pexist==2">
		<h1>Un solo post</h1>
		<pre>
			<h5> Post # $index</h5>
			<h2>{{unPost.titulo}}</h2>
			<p>{{unPost.contenido}}</p>
		</pre>
		<hr/>
    </div>
    <!-- fin contenido segundo -->
    <script src="https://www.gstatic.com/firebasejs/4.11.0/firebase.js"></script>
<script src="https://www.gstatic.com/firebasejs/4.11.0/firebase-firestore.js"></script>
<script>
  // Initialize Firebase
  var config = {
    apiKey: "AIzaSyBQQLp0S1T5x5WGZsEc5utTgHYJilf1ccQ",
    authDomain: "notas-609ff.firebaseapp.com",
    databaseURL: "https://notas-609ff.firebaseio.com",
    projectId: "notas-609ff",
    storageBucket: "notas-609ff.appspot.com",
    messagingSenderId: "972706576684"
  };


  firebase.initializeApp(config);

  var db = firebase.firestore();
</script>
</body>
</html>
